/* General styles for body and html */
body, html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Verdana;
    height: 100%;
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container styling */
.container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1200px; /* Adjusted for larger container needs */
    text-align: center;
    position: relative;
    margin-top: 250px; /* Added top margin to separate from the top */
}

/* Text styling */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Logout button styling */
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff4c4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #cc3b3b;
}

/* Dashboard content styling */
.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/* Card styles */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    width: 200px; /* Set a fixed width */
    text-align: center;
    padding: 15px;
}

.card-img {
    width: 100%; /* Ensure image fills the card */
    max-width: 150px; /* Limit image size */
    height: auto;
    object-fit: contain;
}

/* Text styles inside card */
.card h3 {
    font-size: 16px;
    margin-top: 10px;
}

.card a {
    text-decoration: none;
    color: #007BFF;
}

.card a:hover {
    text-decoration: underline;
}
