/* General styles for body and html */
body, html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Verdana;
    height: 100%; 
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container styling */
.container {
    background: #fff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1200px; /* Adjusted for larger container needs */
    text-align: center;
    position: relative; /* Allow positioning of elements like logout button */
}

.card-container {
    display: flex;  /* Enables horizontal layout */
    flex-direction: row; /* Ensures cards are in a row */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Aligns items vertically */
    gap: 20px; /* Space between cards */
    flex-wrap: wrap; /* Allows wrapping if screen is small */
    width: 100%; /* Ensures it takes full width */
    padding: 20px;
}

.card {
    width: 150px; /* Adjust width */
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* Text styling */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
}

.button:hover {
    background-color: #0056b3;
}

.button-secondary {
    background-color: #6c757d;
}

.button-secondary:hover {
    background-color: #5a6268;
}

/* Logout button styling */
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff4c4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #cc3b3b;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; 
}
