/* General styles for body and html */
body, html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Verdana;
    height: 100%;
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container styling */
.container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1200px; /* Adjusted for larger container needs */
    text-align: center;
    position: relative; /* Allow positioning of elements like logout button */
}

/* Text styling */
h1 {
    color: #333;
    margin-bottom: 20px;
}

.card {
    width: 100px; /* Adjust the width of the card to control the size of the image */
    height: 100px; /* Adjust the height to control the overall card size */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-img {
    width: 100%; /* Ensure the image fills the width of the card */
    height: 150px; /* Set the height of the image */
    object-fit: cover; /* Resize the image while maintaining the aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners for the image */
    margin-bottom: 15px; /* Add space between the image and the text */
}


/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
}

.button:hover {
    background-color: #0056b3;
}

.button-secondary {
    background-color: #6c757d;
}

.button-secondary:hover {
    background-color: #5a6268;
}

/* Logout button styling */
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff4c4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #cc3b3b;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16
